@using QuestionnairePrototype.Infrastructure
@model QuestionnairePrototype.Models.Questionnaire.QuestionnaireWithSelectedAnswersForUser
@{
    ViewBag.Title = "FSMA Self-Assessment Form";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@section JS{
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script type="text/javascript">
        (function ($) {
            // rule that validates that any radio is selected in the whole form
            $.validator.addMethod("anychecked", function (val, elem, params) {
                var form = $(elem).parents("form")[0];
                var radios = $(form).find('input:radio:checked');
                return (radios.length > 0);
            });

            // don't ignore hidden inputs during validation. this is needed
            // because we attach 'anychecked' rule to a hidden field
            $.validator.setDefaults({
                ignore: ":hidden[data-val!=true]" // default ":hidden"
            });

            // add rule to elements with 'data-val-anychecked' attribute
            $.validator.unobtrusive.adapters.addBool("anychecked", "anychecked");
        })(window.jQuery);
        
        
        var sessionTimeout = 480; //It's horrible, but I'm experiencing problems parcing system prefs
        var timeOnPageLoad = new Date();

        
        //To redirect to the welcome page
        setTimeout('RedirectToWelcomePage()', sessionTimeout * 60 * 1000);

        //Session timeout
        function RedirectToWelcomePage() {
            alert("Your session has timed out. Please sign in again.");
            window.location = "../SignIn";
        }
    </script>
    <script src="@Url.Content("~/Scripts/questionnaire.validate.js")" type="text/javascript"></script>
}
<script type="text/javascript">
    $(document).ready(function () {
        $("li.question").each(function (index, question) {
            var allQuestionRadios = $(question).find("input").filter(function (index, input) {
                return input.type == "radio";
            });
            var checkedQuestionRadios = allQuestionRadios.filter(function (index, input) {
                return input.checked;
            });

            var resetLink = $(question).find(".reset-link");

            if (checkedQuestionRadios.length == 0) {
                resetLink.hide();
            }

            allQuestionRadios.each(function (index, radio) {
                $(radio).click(function (event) {
                    resetLink.show();
                });
            });

            resetLink.click(function (event) {
                $(question).find("input").attr("checked", false);
                resetLink.hide();
            });
        });

        var form = document.forms["questionnaireForm"];
        var completeLaterOnSubmit = form.completeLaterOnSubmit;

        // initialize validation of completeLaterOnSubmit hidden input as we attached 'anychecked' rule to it
        $.validator.unobtrusive.parse($(completeLaterOnSubmit));

        $("#completeLaterBtn").click(saveForm());
        $("#getReportBtn").click(submitFormIfValid(false));

        function saveForm() {
            return function (event) {
                event.preventDefault();
                completeLaterOnSubmit.value = true;
                form.submit();
            }
        }

        function submitFormIfValid(completeLater) {
            return function (event) {
                event.preventDefault();
                completeLaterOnSubmit.value = completeLater;
                if ($(form).valid()) {
                    form.submit();
                }
            }
        }
    });
</script>
<div class="container"><div class="page questionnaire">

    @Html.Partial("AFFIHeader", new QuestionnairePrototype.Models.Questionnaire.AFFIHeaderModel(@Model.UserData.FacilityName, @Model.UserData.Name, @Model.UserData.Email, @Model.WasEverSubmitted, @Model.lastSubmitted))

    
    <div  class="span12 pagination-centered"><h3>AFFI FSMA Readiness Self-Assessment–Preventive Controls<br /> For Human Food Rule:</h3></div>
    
    <p>This AFFI FSMA Readiness Self-Assessment focuses on compliance with the FDA Final Rule: Current Good Manufacturing Practice, Hazard Analysis, and Risk-Based Preventive Controls for Human Food (“Preventive Controls for Human Food”).  This rule, implementing Section 103 of FSMA, will be codified at 21 CFR Part 117.  
    The rule is effective beginning September 19, 2016, for large businesses and September 19, 2017, for small businesses.  </p>
    
    <p>This self-assessment is divided into the following 15 sections:</p>
    
    <div style="margin-left: 40px;">
    <ul>
    <li>Exclusions</li>
    <li>Food Safety Plan</li>
    <ul>
    <li>Hazard Analysis and Preventive Controls</li>
    <ul>
    <li>Process Preventive Controls</li>
    <li>Allergen Preventive Control</li>
    <li>Sanitation Preventive Controls</li>
    <li>Other Controls</li>
    <li>Supply-Chain Program</li>
    </ul>
    <li>Current Good Manufacturing Practices (cGMPs)</li>
    <li>Recall Plan</li>
    <li>Monitoring</li>
    <li>Corrective Actions</li>
    <li>Validation & Verification</li>
    <li>Records & Recordkeeping</li>
    <li>Training</li>
    </ul>
    </ul>
    </div>

    <p>This Self-Assessment is intended to serve as a reference document for companies developing food safety plans in compliance with FDA’s Preventive Controls for Human Food rule. Please note that the information presented is not intended to be all-inclusive, 
    but instead represents a basic set of principles that are generally applicable to most companies developing and implementing such programs. Completion of the Self-Assessment does not ensure compliance with applicable statutory and regulatory requirements. The Self-Assessment is not intended as, nor does it constitute, legal advice. In developing and implementing FSMA compliance programs, companies should conduct their own review of the regulations, consult an attorney, and utilize the Self-
    Assessment tool with consideration given to their specific products, activities, existing programs, and infrastructure.</p>

    <p>AFFI does not guarantee the accuracy, adequacy or completeness of any information provided in this Self-Assessment and is not responsible for any errors or omissions or for any results obtained from the use of such information. AFFI gives no express or implied warranties, including but not limited to, 
    any warranties of merchantability or fitness for a particular purpose or use. In no event shall AFFI be liable for any indirect, special or consequential damages in connection with any use of this Self-Assessment.</p>

    <div class="legend">Background</div>

    <u><b>FSMA Preventive Controls for Human Food Rule – Hazard Analysis and Risk-Based Preventive Controls</b></u>

    <p>The Preventive Controls for Human Food rule mandates that registered food facilities conduct a hazard analysis and implement a written food safety plan. Although similar in some ways to Hazard Analysis and Critical Control Point (HACCP) plans, there are significant differences between Hazard Analysis and Risk Based Preventive Controls food safety plans and HACCP plans. In a HACCP system, the hazard analysis identifies those hazards that are 
    reasonably likely to occur in the absence of controls. The controls implemented to significantly minimize or prevent those hazards are known as Critical Control Points (CCPs). These CCPs have specific critical limits that define the operating conditions in the process that must be met to effectively manage the hazards. These CCPs are monitored to ensure compliance with the critical limits and swift corrective actions must be taken when deviations occur.</p>

    <p>Significantly, the Preventive Controls framework incorporates food safety programs beyond those managed in a HACCP-based CCP framework. In a HACCP framework, these food safety programs may have been considered GMPs or prerequisite programs such as sanitation, allergen management, and supplier controls. In a Hazard Analysis and Risk Based Preventive Controls framework they are “preventive controls.” Importantly, in a Risk Based Preventive Controls system, not all preventive controls are CCPs. Moreover, there may be some food safety plans with no CCPs at all. Further, under this framework, 
    because not all preventive controls are CCPs, not all controls are managed the same way. Instead, food safety programs are managed on a sliding scale of oversight. For example, not all preventive controls will have critical limits or parameters. Some preventive controls may have verification activities, but not monitoring. And some preventive controls may necessitate a “correction” if a deviation occurs, but not a “corrective action.” Instead of uniform management, the facility must determine the appropriate level of oversight management based on the nature of the preventive control and its role in the facility’s food safety system.</p>

    <div class="legend">Introduction</div>

    <p>This Self-Assessment is divided into sub-sections to address significant provisions in the final rule. The following is background information regarding each of the sub-sections included in the Self-Assessment. It is important to review all sections as they discuss common industry practices and legal requirements.</p>

    <b>Exclusions</b>

    <p>FSMA affects food under FDA’s jurisdiction, but not all FDA regulated facilities are covered by the Preventive Controls for Human Food rule. There are several types of operations that are excluded from the Preventive Controls rule or subject to modified (limited) requirements. For example, the Preventive Controls rule applies to facilities that are required to register with FDA under the Bioterrorism Act and the regulations found at 21 CFR Subpart H. Therefore, farms, retail food establishments, restaurants, and facilities that manufacture, process, pack or hold food contact substances as defined in Section 409(h)(6) of the FFDCA are excluded from the Preventive Controls rule because those operations do not need to register with FDA. 
    In addition, activities covered by the Seafood HACCP regulations (21 CFR Part 123), Juice HACCP regulations (21 CFR Part 120), and dietary supplement Current Good Manufacturing Practice regulations (21 CFR Part 111) are also excluded from the rule as these foods have a similar set of requirements already in place. Facilities solely engaged in the storage of unexposed packaged foods (except food that requires temperature control for safety) also are exempt from the rule. Additional exemptions/modified requirements apply to qualified facilities and very small businesses. Finally, farm mixed-type facilities that engage in certain low-risk activities (packing or holding certain processed food or manufacturing/processing certain foods) are exempt from the Preventive Controls rule as well.</p>

    <b>Food Safety Plan</b>

    <p>Each covered facility must have a written Food Safety Plan establishing a food safety system. The written food safety plan must include the following elements:</p>

    <div style="margin-left: 40px;">
    <ul>
    <li>The written hazard analysis as required by § 117.130(a)(2);</li>
    <li>The written preventive controls as required by § 117.135(b);</li>
    <li>The written supply-chain program as required by subpart G;</li>
    <li>The written recall plan as required by § 117.137(a);</li>
    <li>The written procedures for monitoring the implementation of the preventive controls as required by § 117.145(a)(1);</li>
    <li>The written corrective action procedures as required by §117.150(a)(1); and</li>
    <li>The written verification procedures as required by §117.165(b).</li>
    </ul>
    </div

    <p>The food safety plan and associated records must be available upon request by the FDA. The food safety plan should be evaluated in its entirety every three years.</p>

    <b>Hazard Analysis and Preventive Controls</b>

    <p>Each facility must develop a written hazard analysis (regardless of outcome), to evaluate each product and process for biological, chemical, and physical hazards that present inherent risks, potential risks, as well as, any opportunities for economically motivated adulteration that could lead to a food safety outbreak. As part of the hazard analysis, each facility is expected to identify and evaluate, based on experience, illness data, scientific reports, and other information “known or reasonably foreseeable hazards” for each type of food manufactured, processed, packed, or held at the facility to determine whether there are “any hazards requiring a preventive control.” The regulations identify several factors that must be considered when evaluating potential hazards and facilities that produce ready-to-eat foods that are exposed to the environment prior to packaging must consider the risk of environmental pathogens.</p>

    <b>Preventive Controls</b>

    <p>Once you have determined which hazards require a preventive control, you must identify and implement preventive controls to significantly minimize or prevent those hazards. Preventive Controls consist of those risk-based, reasonably appropriate procedures, practices, and processes that a person knowledgeable about food safety would employ to significantly minimize or prevent (SMOP) the hazards identified under the hazard analysis. Preventive controls include controls at critical control points (CCPs) (if there are any) and controls other than those at CCPs. Preventive controls include the following “buckets” or categories of controls:</p>

    <b>Process Preventive Controls:</b>

    <p>Process controls include procedures, practices, and processes to ensure the control of parameters during operations such as heat processing, acidifying, irradiating, and refrigerating foods. Process controls can include other formulation controls in addition to acidification. Process controls are often, but not always, managed as CCPs and are sometimes referred to as a “kill step” in a food manufacturing process. Process controls must include, as appropriate to the nature of the applicable control and its role in facility’s food safety system, parameters associated with the control of the hazard and the maximum or minimum value or combination of values, to which any biological, chemical, or physical parameter must be controlled to significantly minimize or prevent a hazard requiring a process control.</p>

    <b>Allergen Preventive Controls:</b>

    <p>As part of the hazard analysis, facilities are required to consider known or reasonably foreseeable hazards, including “food allergens.” Undeclared food allergens pose a food safety risk to consumers that are allergic to the allergen. For purposes of compliance with the Preventive Controls rule “food allergen” means “a major food allergen as defined in Section 201(qq) of the Act. Those are: milk, eggs, fish, Crustacean shellfish, tree nuts, peanuts, wheat, and soybeans and any food ingredient that contain protein derived from one of those foods (except for highly refined oils). If you have identified
    one or more food allergens as a hazard requiring a preventive control, you must establish and implement food allergen controls, including procedures, practices, and processes to protect food from allergen cross-contact during storage, handling and use. Allergen cross contact is defined as the unintentional incorporation of a food allergen into a food. The Preventive Controls for Human Food rule also requires facilities that have identified food allergens as a hazard requiring a preventive control to adopt written practices or procedures to ensure accurate labeling of the finished food, including ensuring that the finished food does not contain any undeclared food allergens.</p>

    <b>Sanitation Preventive Controls</b>

    <p>Sanitation controls include procedures, practices, and processed to ensure that the facility is maintained in a sanitary condition adequate to significantly minimize or prevent hazards such as environmental pathogens, biological hazards due to employee handling, and food allergen hazards. Sanitation controls must include, as appropriate to the facility and the food, procedures, practices, and processes for (1) the cleanliness of food contact surfaces (including food contact surfaces of utensils and equipment) and (2) the prevention of allergen cross contact and cross contamination from insanitary objects and from personnel to food, food packaging material, and other food contact surfaces, and from raw product to processed product. The Preventive Controls for Human Food rule requires sanitation controls to be written.</p>

    <b>Other Preventive Controls</b>

    <p>Although the Preventive Controls for Human Food rule identifies several specific types of preventive controls (e.g., process, allergen, sanitation, and supply chain controls), there are other food safety practices and procedures that may be preventive controls in some food safety systems. The rule refers to these programs as “other controls.” Other controls may be aspects of your GMPs, preventive maintenance, employee training or other programs.</p>

    <b>Supply-Chain Preventive Controls</b>
    
    <p>Part of preventive controls is ensuring that your suppliers have implemented their own food safety programs when your incoming raw materials and ingredients can affect the safety of your finished products. In addition, importers are required to ensure that the foods they import are safe according to FSMA regulations (under the Foreign Supplier Verification Program). Note that the Foreign Supplier Verification Program is outside of the scope of this self-assessment.</p>
    
    <b>Current Good Manufacturing Practices</b>
    
    <p>The Preventive Controls for Human Food rule updates the current Good Manufacturing Practices (cGMPs) regulations found at 21 CFR Part 110 and re-codifies them at Part 11
    7. The updated cGMPs generally address the same issues as the prior cGMPs, but there is a renewed focus on allergen-cross contact and cross-contamination.</p>
    
    <b>Recall Plan</b>
    
    <p>The Preventive Controls for Human Food regulation requires the development of a written Recall Plan when a hazard analysis identifies a hazard requiring a preventive control. The plan must include procedures that describe the steps to be taken, and assign responsibilities for taking those steps, to perform the following actions (as appropriate to the facility):</p>

    <div style="margin-left: 40px;">
        <ul>
        <li>Directly notify the direct consignees of the food being recalled, including how to return or dispose of the affected food;</li>
        <li>Notify the public about any hazard presented by the food when appropriate to protect public health;</li>
        <li>Conduct effectiveness checks to verify that the recall is carried out; and</li>
        <li> Appropriately dispose of recalled food – e.g., through reprocessing, reworking, diverting to a use that does not present a safety concern, or destroying the food.</li>
        </ul>
    </div>

    <b>Monitoring:</b>

    <p>Preventive controls must be monitored with adequate frequency to provide assurance that they are consistently performed. The amount and nature of monitoring required is tailored to the preventive control, such that monitoring is conducted “as appropriate to the nature of the preventive control and its role in the facility’s food safety system.” The regulations permit exception records for monitoring. You also are required to have written monitoring procedures that address issues such as the frequency with which monitoring is to be performed.</p>
    
    <b>Corrective Actions:</b>
    
    <p>Corrective actions procedures are required as appropriate to the nature of the preventive control and the nature of the hazard. Written corrective action procedures must be established and implemented if preventive controls are not properly implemented. In particular, corrective action procedures must address the presence of a pathogen or appropriate indicator organism detected through product testing for ready-to-eat food or through environmental monitoring.
        Corrective action procedures must describe the steps that will be taken to ensure that</p>
    
    <div style="margin-left: 40px;">
        <ul>
        <li>Appropriate action is taken to identify and correct a problem that has occurred with implementation of a preventive control;</li>
        <li>Appropriate action is taken, when necessary, to reduce the likelihood that the problem with recur;</li>
        <li>All affected food is evaluated for safety; and</li>
        <li>All affected food is prevented from entering commerce, if you cannot ensure that the food is safe.</li>
        </ul>
    </div>
    
    <p>Additionally, if an unanticipated food safety problem occurs, you must take all steps associated with a corrective action and reanalyze the food safety plan to determine whether it needs to be modified.</p>
    
    <b>Validation & Verification</b>
    
    <p>Under the Preventive Controls for Human Food rule, facilities must engage in a variety of activities to verify the implementation and effectiveness of their plan. Activities include the following, as appropriate to the facility, the food, and the nature of the preventive control and its role in the facility’s food safety system:</p>
    
     <div style="margin-left: 40px;">
        <ol>
        <li>Calibration of process monitoring instruments and verification instruments (or checking them for accuracy);</li>
        <li>Product testing;</li>
        <li>Environmental monitoring if contamination of a ready-to-eat food with an environmental pathogen is a hazard requiring a preventive control;</li>
        <li>Records review within specified timeframes; and</li>
        <li>Other verification activities as appropriate.</li>
        </ol>
    </div>

    <p>Written verification procedures are required, as appropriate, for calibration, product testing, and environmental monitoring.</p>

    <p>Validation and Verification are often confused and incorrectly used interchangeably. In 21 CFR 117.3., the terms are defined as follows:</p>

    <p><i>Validation</i> means obtaining and evaluating scientific and technical evidence that a control measure, combination of control measures, or the food safety plan as a whole, when properly implemented, is capable of effectively controlling the identified hazards.</p>

    <p><i>Verification</i> means the application of methods, procedures, tests and other evaluations, in addition to monitoring, to determine whether a control measure or combination of control measures is or has been operating as intended and to establish the validity of the food safety plan.</p>

    <p>Under the Preventive Controls for Human Food rule, all preventive controls must be verified, but only process controls and “other preventive controls” must be validated. “Other preventive controls” do not need to be validated, however, if a PCQI prepares (or oversees the preparation of) a written justification that validation is not applicable based on such factors as the nature of the hazard and the nature of the preventive
        control and its role in the facility’s food safety system. Validation must be performed or overseen by a PCQI.</p>

    <b>Records & Recordkeeping:</b>

    <p>The Preventive Controls for Human Food rule requires extensive recordkeeping, including requiring a written hazard analysis, written preventive controls, written procedures for monitoring, corrective actions, and verification activities, as well as written implementation records. Records must contain the actual values and observations obtained during monitoring and, as appropriate, during verification activities. They also must be accurate, indelible, and legible. Records must be created concurrently with performance of the activity documented. Additionally, records must be as detailed as necessary to provide history of work performed. All required records must be retained for at least 2 years after the date they were prepared.</p>

    <b>Training:</b>

    <p>Under the Preventive Controls for Human Food rule facilities will be expected to have trained employees. All individuals are expected to be “qualified to perform their job function.” In addition to meeting the qualification requirement as “qualified individuals,” supervisory personnel (i.e., those individuals who are responsible for ensuring compliance with the regulations) must have the education, training, or experience (or a combination thereof) necessary to supervise the production of clean and safe food. Additionally, responsibility for ensuring compliance with the regulations must be clearly assigned to supervisory personnel. The Preventive Controls for Human Food regulations also require that the food safety plan must be prepared or overseen by a “preventive controls qualified individual” (PCQI). This is defined as a “qualified individual” 
    who either (1) has successfully completed training in the development and application of risk-based preventive controls at least equivalent to that received under a standardized curriculum recognized as adequate by FDA or (2) is otherwise qualified through job experience to develop and apply a food safety system. PCQIs must also do or oversee other activities related to the food safety plan.</p>
    
    <h3>AFFI Self-Assessment – Instructions:</h3>

    <b>Please complete the following Self-Assessment and then click on “Get Self-Assessment Report” at the end of the questionnaire.</b>

    <p>Your facility’s Self-Assessment report will then be immediately summarized and displayed, and you will be sent a copy of both your answers and the report via email. You may re-take this Self-Assessment as many times as you want for the six month period starting when your company paid for the Self-Assessment. The resulting report will be updated accordingly.</p>

    <p>These questions are designed to help you determine the extent to which your facility’s food safety programs have been developed or implemented in alignment with the final FSMA Preventive Controls for Human Food rule published in the Federal Register on September 17, 2015.</p>

    <p>There is no one situation that fits every facility; <b>Please select the answer that MOST closely describes your particular facility.</b></p>

    <p><b>If you are unable to complete the survey, and would like to finish it later, at any time you can go to the bottom of this survey form and hit the "Save and Complete It Later" button.</b></p>




    @*OLD*@

   @* <div  class="span12 pagination-centered"><h3>AFFI FSMA FOOD SAFETY READINESS SELF-ASSESSMENT: <br />HAZARD ANALYSIS AND PREVENTIVE CONTROLS</h3></div>

    <p>The <i>FDA Food Safety Modernization Act</i> (FSMA) is the most sweeping change to the food safety system since the <i>Food Drug and Cosmetic Act of 1938</i>.  This AFFI FSMA Food Safety Readiness Self-Assessment is divided into the following 11 sections, with primary emphasis on the preventive controls contained in Section 103 of FSMA:</p>

    <div style="margin-left: 40px;">
    <ol type="I">
    <li>Exclusions</li>
    <li>Hazard Analysis</li>
    <li>Allergen Control</li>
    <li>Sanitation</li>
    <li>Recall</li>
    <li>Current Good Manufacturing Practices (cGMPs)</li>
    <li>Supplier Verification</li>
    <li>Corrective Actions</li>
    <li>Validation & Verification</li>
    <li>Monitoring, Records & Recordkeeping</li>
    <li>Training</li>
    </ol></div>

    <p>This Self-Assessment Guide is intended to serve as a reference document for companies developing hazard analysis and preventive controls programs in preparation for FDA's implementation of FSMA. Please note that the information presented is not intended to be all-inclusive but instead represents a basic set of information which is generally applicable to most companies in developing and implementing such programs. Completion of the Self-Assessment does not ensure compliance with applicable statutory and regulatory requirements. The Guide is not intended as nor does it constitute legal advice. In developing and implementing FSMA compliance programs, it is recommended that companies consult an attorney and utilize the Self-Assessment tool with consideration given to their specific products, activities, and infrastructure and customer expectations.</p>

    <div class="legend">Background</div>
    
    <u><b>FSMA Section 103 – Hazard Analysis and Risk-Based Preventive Controls</b></u>

    <p>FSMA mandates that registered food facilities implement a written preventive controls plan.    This involves: (1) evaluating the hazards that could affect food safety, (2) specifying what preventive steps, or controls, will be put in place to significantly minimize or prevent the hazards, (3) specifying how the facility will monitor these controls to ensure they are working, (4) maintaining routine records of the monitoring, and (5) specifying what actions the facility will take to correct problems that arise.  FSMA requires FDA to issue regulations and guidance document implementing Section 103, but FDA has not yet done so.     Accordingly, information in this Self-Assessment is derived from the statute and will form the foundation for compliance with the law. Where appropriate, additional information provided is based on experience with similar regulatory programs (e.g., Seafood HACCP, Juice HACCP).</p>

    <p>Section 103 –Hazard Analysis and Risk-Based Preventive Controls has several subparts. This self-assessment survey is divided into sub-sections to cover significant provisions in the statute.  The following is background information regarding each of the sub-sections included in the Self-Assessment.</p>
    <p><b>I. Exclusions</b> <br />Preventive Controls will not apply to all food and animal feed.  Two of the principal exclusions from Preventive Controls are (i) food that is not regulated by FDA (i.e., food regulated by USDA), and (ii) food excluded from Section 103 because it is the subject of a similar regulatory scheme (i.e., seafood, juice HACCP) or is addressed under another section of FSMA other than Section 103 (e.g., fresh unprocessed produce falls under Section 105).  In addition, FDA may issue exemptions or modifications of the requirements of Section 103 for certain types of facilities.</p>
    <p><b>II. Hazard Analysis</b> <br />The key to identifying and implementing preventive controls is to determine what hazards could occur.  Each facility must develop a written hazard analysis. </p>
    <p><b>III. Allergen Control</b> <br />Allergens or ingredients to which some people have sensitivities/intolerances are becoming a leading cause of easily preventable recalls. FSMA mandates facilities have allergen control programs. </p>
    <p><b>IV. Sanitation</b> <br />FDA will expect a facility to have written Sanitation Standard Operating Procedures (SSOPs), with sanitation records showing who performed a cleaning activity, what they cleaned, where they cleaned, when they cleaned, and training for all relevant employees. </p>
    <p><b>V. Recall Procedures</b> <br />A recall plan is specifically identified in FSMA as a preventive control. Although recall activities do not directly control a food safety process, a proper recall program can prevent or lower the number of injuries or illnesses caused by adulterated or potentially adulterated foods.    By requiring each facility to have  a recall plan, FSMA builds on the information facilities are required to maintain under the Public Health Security and Bioterrorism Preparedness and Response Act of 2002 (the Bioterrorism Act).</p>
    <p><b>VI. Current Good Manufacturing Practices</b> <br />Current Good Manufacturing Practices (cGMPs) are described in 21CFR Part 110.  These regulations cover facility conditions, water quality, pest controls, process controls, sanitation, sanitary controls, training of associates, and defect action levels to name a few.  FSMA strengthens cGMPs requirements by requiring a written Food Safety Plan that addresses implementation of and compliance with cGMPs.</p>
    <p><b>VII. Supplier Verification</b> <br />Part of preventive controls is knowing where your materials and products come from, with particular attention to how your suppliers’ food safety activities affect the safety of your products.  In addition, importers are required to ensure that the products that they import meet domestic requirements, including FSMA.</p>
    <p><b>VIII. Corrective Actions</b> <br />Under FSMA facilities are required to document instances of non-conformance, instances where corrective actions were taken, and the efficacy of the corrective actions. In addition, facilities must have procedures to reduce the likelihood of a failure reoccurring and ensure that when a failure does occur, all affected food is evaluated for safety and none is released if its safety cannot be assured. </p>
    <p><b>IX. Validation & Verification</b> <br />Under FSMA facilities must ensure that the preventive controls implemented are adequate to control the hazards identified during the hazard analysis. They must also conduct verification activities to ensure that monitoring is taking place, corrective actions are handled appropriately, and that the preventive controls are effectively controlling the hazards.  Verification activities must include product and environmental testing programs where appropriate.</p><p>Validation and Verification are often confused and incorrectly used interchangeably. <b>Validation</b> is obtaining evidence that your control measure or combination of control measures, if properly implemented, is or are capable of controlling hazards to a specified outcome. <b>Verification</b> is the application of methods, procedures, tests and other evaluations, in addition to monitoring, to determine whether your control measures are or have been operating as intended.</p>
    <p><b>X. Monitoring, Records & Recordkeeping </b> <br />FSMA requires facilities to monitor the effectiveness of the preventive controls implemented. The statute also requires facilities to have a written food safety plan, as well as records documenting monitoring activities, instances of nonconformance material to food safety, results of testing and other verification activities, instances where corrective actions were implemented, and the efficacy of preventive controls and corrective actions. In addition, under FSMA FDA has greater record review authority.</p>
    <p><b>XI. Training</b> <br />As a result of FSMA, facilities will be expected to have trained employees to help develop and implement the food safety plan. </p>
    <br />
    <div class="legend">AFFI Self-Assessment – Instructions:</div>

    <p><b>Please complete the following self-assessment and then click on the “Get Self-Assessment Report” at the end of the questionnaire.</b></p>

    <p>Your facility’s self-assessment report will then be immediately summarized and displayed, and you will be sent a copy of both your answers and the report by email.  You may re-take this self-assessment questionnaire as many times as you want for the three month period starting when your company paid for the self-assessment, and the resulting report will be updated accordingly.<br />These questions are designed to help you determine to what extent your facility’s food safety programs have been developed or implemented in alignment with FSMA Section 103 as written and expected to be implemented.   There is no one situation that fits every facility; <b>so, please select the answer that MOST closely describes your particular facility. </b></p>

    <p><b>If you are unable to complete the survey, and would like to finish it later, at any time you can go to the bottom of this survey form and hit the "Save and Complete It Later" button.</b></p>
*@


    <br />
    <h2>BEGIN THE ASSESSMENT</h2>

    @using (Html.BeginForm(
        "Index", "QuestionnaireReport", FormMethod.Post,
        new { @id = "questionnaireForm", @name = "questionnaireForm", @class = "form-horizontal row-fluid form-sole" }
    )) {
    <ol class="categories">
        @{
            int quesionNumber = 1;
        }
        @foreach (var category in Model.Questionnaire.Categories)
        {
        <li class="category">
            <div class="legend">@Html.Raw(category.Title)</div>
            <div class="category-content">
                <!-- <p class="category-annotation">@Html.Raw(category.Annotation)</p> -->
                <ol class="questions">
                    @foreach (var question in category.Questions)
                    {
                    <li class="question" value="@quesionNumber">
                        <p class="question-descr">
                            @Html.Raw(question.Title)
                            <a class="reset-link" >reset&nbsp;selection</a>
                        </p>
                        @foreach (var answer in question.Answers)
                        {
                        <label class="radio">
                            @Html.RadioButton(question.Id.ToString(), answer.Id, answer.IsSelected)
                            @Html.Raw(answer.Title)
                        </label>
                        }
                        <p class="question-annotation">@Html.Raw(@question.PostAnnotation)</p>
                        @{
                            ++quesionNumber;
                        }
                    </li>
                    }
                </ol>
            </div>
        </li>
        }
    </ol>
    <hr/>
    <div class="row-fluid">
        <div class="offset2 span8">
            <div class="control-group">
                @Html.LabelFor(m => m.DemographicData.SizeOfFacility, new { @class = "control-label" })
                <div class="controls">
                    @Html.EnumDropDownListFor(m => m.DemographicData.SizeOfFacility, new { @class = "span12" })
                    @Html.ValidationMessageFor(m => m.DemographicData.SizeOfFacility, null, new { @class = "help-block hide" })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.DemographicData.IndustrialClassification, new { @class = "control-label" })
                <div class="controls">
                    @Html.EnumDropDownListFor(m => m.DemographicData.IndustrialClassification, new { @class = "span12" })
                    @Html.ValidationMessageFor(m => m.DemographicData.IndustrialClassification, null, new { @class = "help-block hide" })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.DemographicData.AnotherProductClassification, new { @class = "control-label" })
                <div class="controls">
                    @Html.EnumDropDownListFor(m => m.DemographicData.AnotherProductClassification, new { @class = "span12" })
                    @Html.ValidationMessageFor(m => m.DemographicData.AnotherProductClassification, null, new { @class = "help-block hide" })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.DemographicData.AdditionalProductClassification, new { @class = "control-label" })
                <div class="controls">
                    @Html.EnumDropDownListFor(m => m.DemographicData.AdditionalProductClassification, new { @class = "span12" })
                    @Html.ValidationMessageFor(m => m.DemographicData.AdditionalProductClassification, null, new { @class = "help-block hide" })
                </div>
            </div>
        </div>
        <p class="quest-form-footer-descr">
            After completing the above questions, click on the “Get Self-Assessment Report” below. Your facility’s self-assessment
            report will then be immediately summarized and displayed, and you will be sent a copy of both your answers and the report
            by email. You may re-take this self-assessment questionnaire as many times as you want, and the resulting report will
            be updated accordingly.
        </p>
        <hr />
        @Html.ValidationSummary(false, "Cannot process:", new { @class = "well well-small error" })
        <div class="pagination-centered quest-form-footer-btns">
            @Html.SubmitButton("Save And Complete It Later", new { @id = "completeLaterBtn", @class = "btn" })
            @Html.SubmitButton("Get Self-Assessment Report Now", new { @id = "getReportBtn", @class = "btn btn-success" })
        </div>
    </div>
    <input type="hidden" name="completeLaterOnSubmit" value="false" data-val="true" data-val-anychecked="Please select at least one answer." />
    }
</div></div>

<p class="copyright">
    Powered by <a href="http://www.seneca.com" target="_blank">Seneca Corporation</a>, a provider of business process solutions for the food industry.<br />
    &copy; @DateTime.Now.Year Seneca Corporation
</p>
