@using QuestionnairePrototype.Infrastructure
@model QuestionnairePrototype.Models.Report.QuestionnaireReportForUser
@{
    ViewBag.Title = "Risk Assessment Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table width="750" align="center" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
    <tbody>
        <tr>
            <td>
                <table>
                    <tr>
                        <td> <a class="image" href="http://www.affi.org" target="_blank" style="text-decoration: none;">
                                <img border="0" src="http://affi-fsma.seneca.com/Content/img/mail/affi_logo.jpg" alt="Risk Assesment Report" />
                              </a>
                        </td>
                        <td>
                            <center>
                                <span style="font-family: Arial; font-size: 18px; color: #006699; font-weight: bolder;">
                                    AFFI FSMA Food Safety Readiness Self Assessment<br>
                                    Preventative Controls - Assessment Report
                                </span>
                            </center>
                        </td>
                    </tr>
                </table>
               
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" cellpadding="0" cellspacing="0" style="border-collapse: collapse;
                    border-top-color: #cccccc; border-right-color: #cccccc; border-bottom-color: #cccccc;
                    border-left-color: #cccccc; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px;
                    border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid;
                    border-left-style: solid;">
                    <tbody>
                        <tr>
                            <td width="10" height="10">
                                <br />
                            </td>
                            <td />
                            <td />
                        </tr>
                        
                        <tr>
                            <td />
                            <td>
                                <center>
                                <span style="font-family: Arial; font-size: 18px; color: #404040; font-weight: bolder;">
                                    Assessment Report For @Model.UserPurchase.FacilityName
                                </span>
                                <br />
                                <span style="font-family: Arial; font-size: 15px; color: #404040; font-style:italic">
                                    Last Submitted: @DateTime.Now.Date.ToString("MMMM d, yyyy")
                                </span>
                                </center>
                            </td>
                            <td />
                        </tr>

                        <tr>
                            <td />
                            <td>
                                <span style="font-family: Arial; font-size: 14px; color: #404040; font-weight: bolder;">
                                    FSMA Self-Assessment - RESULTS:
                                </span>
                            </td>
                            <td />
                        </tr>

                        <tr>
					        <td />
					        <td><span style="font-family: Arial; font-size: 12px; color: #404040; ">
                                
                            <p>These questions and the corresponding responses were designed to help you determine the extent to which your facility's food safety programs have been developed or implemented in alignment with the final Preventive Controls for Human Foods rule as published on September 17, 2015. There is no one situation that fits every facility; 
                            <b>please consider that the answers represent general guidance that is reflective of industry best practices and FDA’s stated expectations or general guidance that have been shared to date.</b></p>
    
                            <p>You may re-take this Self-Assessment questionnaire as many times as you want for the six month period starting when your company paid for the Self-Assessment. The resulting report will be updated accordingly.</p>

                            <p>This Self-Assessment is intended to serve as a reference document for companies developing food safety plans in compliance with the final Preventive Controls for Human Foods rule. Please note that the information presented is not intended to be all-inclusive, but instead represents the core elements of the rule that are generally applicable to most companies in developing and implementing such programs. Completion of the Self-Assessment does not ensure compliance with applicable statutory and regulatory requirements. The Guide is not intended as, nor does it constitute, legal advice. In developing and implementing FSMA compliance programs, it is recommended that companies consult an attorney and utilize the Self-Assessment tool with consideration given to their specific products, activities, exiting programs, and infrastructure.</p>

                            <p>AFFI does not guarantee the accuracy, adequacy or completeness of any information provided in this Self-Assessment and is not responsible for any errors or omissions or for any results obtained from the use of such information. AFFI gives no express or implied warranties, including but not limited to, any warranties of merchantability or fitness for a particular purpose or use. In no event shall AFFI be liable for any indirect, special or consequential damages in connection with any use of this Self-Assessment.</p>

                               
                                @*OLD*@
                               @* <p>These questions and the corresponding responses were designed to help you determine to what extent your facility's food safety programs have been developed or implemented in alignment with elements in the statute as written and expected to be implemented. There is no one situation that fits every facility; <b> so, please consider that the answers represent general nonbinding guidance, it represents industry best practices and FDA stated expectations or general guidance that has been shared to date.</b></p>
                <p>You may re-take this self-assessment questionnaire as many times as you want for the three month period starting when your company paid for the self-assessment, and the resulting report will be updated accordingly.</p>
                <p>AFFI does not guarantee the accuracy, adequacy, completeness or availability of any information provided in this Self-Assessment and is not responsible for any errors or omissions or for any results obtained from the use of such information.  AFFI gives no express or implied warranties, including but not limited to, any warranties of merchantability or fitness for a particular purpose or use.  In no event shall AFFI be liable for any indirect, special or consequential damages in connection with any use of this Self-Assessment.</p>
                <p>This Self-Assessment Guide is intended to serve as a reference document for companies developing hazard analysis and preventive controls programs in preparation for FDA's implementation of FSMA. Please note that the information presented is not intended to be all-inclusive but instead represents a basic set of information which is generally applicable to most companies in developing and implementing such programs. Completion of the Self-Assessment does not ensure compliance with applicable statutory and regulatory requirements. The Guide is not intended as nor does it constitute legal advice. In developing and implementing FSMA compliance programs, it is recommended that companies consult an attorney and utilize the Self-Assessment tool with consideration given to their specific products, activities, and infrastructure and customer expectations.</p>
              *@              
                            
                            </span>
					        </td>
					        <td />
				        </tr>

                        <!--big spacing-->

                        <tr>
                            <td colspan="3" align="center" height="20">
                                <img height="2" width="726" src="http://image.securelogix.com/blue_pixel.gif"/>
                            </td>
                        </tr><!--separator line-->

                        <tr>
                            <td />
                            <td>
                                <span style="font-family: Arial; font-size: 14px; color: #404040; font-weight: bolder;padding:5 0 10 0px;">
                                    Overall Assessment - Degree of Readiness
                                </span>
                            </td>
                            <td />
                        </tr>

                        <tr><td height="20"><br /></td></tr>
                        <!--overall begin -->
                        <tr>
                            <td />
                            <td>
                                <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
                                    <tr height="70">
                                        <td valign="top" align="center" width="20%">
                                            @Html.createLinkToRiskImgMail(Model.Report.Overall.RiskTypeName)
                                        </td>
                                        <td width="20" height="70">
                                            <td><br />  </td>
                                            <td valign="top">
                                                <span style="font-family: Arial; font-size: 12px; color: #404040;">
                                                    @Html.Raw(Model.Report.Overall.RecomendationText)
                                                </span>
                                            </td>
                                    </tr>
                                </table>
                            </td>
                            <td />
                        </tr>
                        <tr><td height="10"><br /></td></tr>

                @foreach (var category in Model.Report.Categories)
                { 
                    <!--category begin -->
                    
                    <!--separator line-->
                    <tr><td colspan="3" align="center" height="20"><img height="2" width="726" src="http://image.securelogix.com/blue_pixel.gif"/></td></tr>

                    <tr>
                        <td/>
                            <td>
                                <span style="font-family: Arial; font-size: 14px; color: #404040; font-weight: bolder; ">
                                    <ol type="I" style="margin:0; padding:0 0 0 35px;">
                                        <li value="@category.categoryId">@Html.Raw(category.CategoryTitle)</li>
                                    </ol>
                                </span>
                            </td>
                        <td/>
                    </tr>

                    <tr><td height="20"><br /></td></tr>

                    <tr>
                        <td/>
                        <td>
                            <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;">
                                <tr>
                                    <td valign="top" align="center" width="20%">
                                        @if (category.DisplayImage)
                                        {
                                            @Html.createLinkToRiskImgMail(category.RiskTypeName)
                                        }
                                    </td>
                                    <td><br /></td>
                                    <td valign="top">
                                        <span style="font-family: Arial; font-size: 12px; color: #404040; ">
                                            @category.CategoryComment
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td/>
                    </tr>
                    
                                       foreach (var question in category.QuestionRecomendations)
                                       {    
                        <!-- question comment begin-->
                        <tr><td height="20"><br /></td></tr>
                        <tr>
                            <td/>
                            <td>
                                <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;">
                                    <tr>
                                        <td valign="top" align="left" width="20%">
                                            <span style="font-family: Arial; font-size: 12px; color: #404040; ">
                                                <strong>@question.QuestionSummary</strong>
                                            </span>
                                        </td>
                                        <td><br /></td>
                                        <td>
                                            <span style="font-family: Arial; font-size: 12px; color: #404040; ">
                                                @Html.Raw(question.AnswerComment)
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td/>
                        </tr>
                        <!-- question comment end-->
                        }
                        if (category.vendorList.Count > 0)
                        {
                        <!--vendors begin -->
                        <tr>
                            <tr><td height="20"><br /></td></tr>
                            <td colspan="3" height="20" style="padding:0 0 0 15px;">
                                <span style="font-family: Arial; font-size: 11px; font-style: italic; ">AFFI Suggested Service Providers who provide services related to this Category area listed below. 
                                More information about each of the companies is provided at the end of this Report.
                                </span>
                            </td>
                        </tr>
                        foreach (var vendor in category.vendorList)
                        {
                            <tr><td height="10"><br /></td></tr>
                            <tr>
                                <td/>
                                <td style="padding:0 0 0 25px;">
                            <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;">
                                <tr>
                                    <td valign="top" align="left" width="20%">
                                        <span style="font-family: Arial; font-size: 12px; color: #404040; ">
                                            <b>@vendor.Name</b>
                                        </span>
                                    </td>
                                    <td>
                                        <span style="font-size: 11px;">
                                            @Html.wrapLinkToVendor(vendor.LinkToWebsite)
                                        </span>
                                    </td>
                                </tr>
                            </table>
                            </td>
                            <td/>
                            </tr>
                        }
                    }
                    
                    <tr><td><br /></td></tr>
                    <!--category end -->
                }

                <tr><td><br /></td></tr>
                @if (Model.Report.OverallVendors.Count > 0)
                {
                    <tr>
                        <td colspan="3" align="center" height="20">
                            <img height="6" width="726" src="http://image.securelogix.com/blue_pixel.gif"/>
                        </td>
                    </tr><!--separator line-->
                    
                    <tr>
                        <td colspan="3" height="20" style="padding:0 0 0 15px;">
                            <span style="font-family: Arial; font-size: 14px; font-weight: bolder; ">AFFI Suggested Service Providers</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" height="20" style="padding:0 0 0 15px;">
                            <span style="font-family: Arial; font-size: 12px; font-style: italic; ">AFFI Suggested Service Providers who provide services related to FSMA are listed below. 
                            If you want more information about their services, click on "Send Me Information" and your name and email address (but NO information on your responses to this questionnaire) 
                            will be provided to the company.
                            </span>
                        </td>
                    </tr>
                    foreach (var vendor in Model.Report.OverallVendors)
                    {
                        <tr><td colspan="3" height="10">&nbsp;&nbsp;</td></tr><!--small spacing-->
                        <tr>
                            <td/>
                            <td style="padding:0 0 0 25px;">
                                <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;">
                                    <tr>
                                        <td valign="top" align="left" width="45%">
                                            <span style="font-family: Arial; font-size: 12px; color: #404040; ">
                                                <b>@vendor.Name</b>
                                            </span>
                                        </td>
                                        <td width="10" align="left">&nbsp;</td>
                                        <td valign="top" align="right">
                                            <span style="font-family: Arial; font-size: 12px; color: #404040; ">
                                               @Html.wrapLinkToVendor(vendor.LinkToWebsite)
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="100%" align="left" colspan="3">
                                            <span style="font-family: Arial; font-size: 11px; font-style: italic;">
                                                @Html.Raw(vendor.Description)
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td/>
                        </tr>
                    }
                        
                        <tr>
                            <td colspan="3" align="center" height="20">
                                <img height="6" width="726" src="http://image.securelogix.com/blue_pixel.gif"/>
                            </td>
                        </tr><!--separator line-->
                } <!--overall vendors list end -->
                
                <tr><td><br /></td></tr>
				<tr>
					<td />
					<td><span style="font-family: Arial; font-size: 12px; color: #404040; ">
                        <em>AFFI does not guarantee the accuracy, adequacy, completeness or availability of any information provided in this Self-Assessment and is not responsible for any errors or omissions or for any results obtained from the use of such information.  AFFI gives no express or implied warranties, including but not limited to, any warranties of merchantability or fitness for a particular purpose or use.  In no event shall AFFI be liable for any indirect, special or consequential damages in connection with any use of this Self-Assessment.<br /><br />
        This Self-Assessment Guide is intended to serve as a reference document for companies developing hazard analysis and preventive controls programs in preparation for FDA's implementation of FSMA. Please note that the information presented is not intended to be all-inclusive but instead represents a basic set of information which is generally applicable to most companies in developing and implementing such programs. Completion of the Self-Assessment does not ensure compliance with applicable statutory and regulatory requirements. The Guide is not intended as nor does it constitute legal advice. In developing and implementing FSMA compliance programs, it is recommended that companies consult an attorney and utilize the Self-Assessment tool with consideration given to their specific products, activities, and infrastructure and customer expectations.</em>
                    </span>
					</td>
					<td />
				</tr>
				<tr>
					<td />
					<td />
					<td><br /></td>
				</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
            <td>
               <a class="image" href="http://www.affi.org" target="_blank" style="text-decoration:none;">
                    <img border="0" src="http://affi-fsma.seneca.com/Content/img/mail/affi_logo.jpg" alt="AFFI logo" />
                </a>
            </td>
		</tr>
		<tr>
            @*<td><img border="0" height="20" width="200" src="http://jtsw.narod.ru/mail_footer.gif" alt="Seneca Corporation Logo" /></td>*@
			<td colspan="3"  align="center"><span style="font-family:Arial; font-size:10px; color:#999999;">
                Powered by <a href="http://www.seneca.com" target="_blank">Seneca Corporation</a>, a provider of business process solutions for the food industry.<br />
                &copy; @DateTime.Now.Year Seneca Corporation
            </span></td>
		</tr>
	</tbody>
</table>